@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Body styles */

body{
 margin: 0;
 padding: 0;
 font-family: "Poppins";
}
 /* Topbar */

.topbar-icon-block{
 display: flex;
 justify-content: center;
 align-items: center;
}

.topbar-icon{
 margin-right: 10px;
 border-radius: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 45px;
 height: 45px;
 background: rgba(172, 172, 172, 0.151);
}

.topbar-icon i{
 font-size: 17px;
 color: #E22555;
}

.topbar-icon-text{
 text-transform: uppercase;
}
.topbar-icon-text span{
 font-size: 14px;
 font-weight: 480;
}

.topbar-icon-text h6{
 font-size: 17px;
 padding-top: 4px;
}

/* Logo styles */

.logo{
 font-size: 29px;
 font-weight: 650;
 color: black;
}
.logo:hover{
 color: black;
}

/* Bottombar styles */

.bottombar{
 transition: all 1s;
}
.bottombar .nav-link{
 color: black;
 font-size: 15px;
}

.bottombar .nav-item:hover::after{
 width: 100%;
 transition: .7s;
}
.bottombar .nav-item::after{
 content: '';
 width: 0;
 height: 2px;
 background: #207dff;
 display: block;
 transition: .7s;
}

.btn-item::after{
 content: '';
 display: none;
 opacity: 0;
}

.btn-item button a{
 text-decoration: none;
 color: white;
 font-size: 15px;
}
.btn-item button{
 padding: 8px 12px;
}

/* Menu styles */

.menu-2{
 display: none;
 cursor: pointer;
}

.menu-nav-2{
 padding: 2rem;
 width: 50%;
 height: 100%;
 position: fixed;
 background: white;
 z-index: 1000;
 left: 100%;
 top: 0;
 transition: 1s;
}

.menu-nav-2 a{
 color: black;
 font-size: 16px;
}
.menu-nav-2 a:hover{
 transition: .2s;
 color: rgb(238, 65, 53);
 font-size: 16px;
}


.nav-menu-2{
 margin-top: 20px;
 display: flex;
 justify-content: center;
}

.nav-menu-2 li a{
 margin: 0 8px;
 font-weight: 450;
 color: black;
 text-decoration: none;
}


/* Bg image styles */

.bg-png-1{
 background: url('/img/bg/breadcrumb.jpg');
 width: 100%;
 height: 380px;
 background-attachment: fixed!important;
 background-position: center;
 background-size: cover;
}

/* Class active */

.active-2{
 left: 58%;
}

/* Under title styles */

.under-title{
 font-size: 38px;
}

/* Small cards styles */

.sm-cards .col-lg-4{
 display: flex;
 justify-content: center;
}


.sm-cards .card{
 border: none;
 width: 340px;
 border-radius: 60px;
 box-shadow: 0 3px 15px rgb(245 245 245 / 50%);
}

.sm-cards .card .card-icon{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 55px;
 height: 55px;
 border-radius: 50%;
 background: white;
 transition: .4s;
 box-shadow: 0 0 20px .8px rgba(92, 91, 91, 0.1);
}


.sm-cards .card i{
 color: #E22555;
 font-size: 26px;
}

/* Footer style */

.footer-title h4{
 font-size: 23px;
 font-weight: 650;
}

.footer-title::after{
 content: '';
 width: 40%;
 height: 3px;
 background: #E22555;
 display: block;
 transition: .7s;
}
.footer-list i{
 font-size: 18px;
 margin-right: 8px;
 color: #E22555;
}
.footer-list li{
 margin: 10px 0;
}

.footer-socials{
 display: flex;
}

.footer-socials .footer-icon{
 border-radius: 100%;
 margin-top: 10px;
 width: 42px;
 height: 42px;
 background-color: #E22555;
}

.footer-socials .footer-icon i{
 position: relative;
 top: 50%;
 left: 50%;
 transform: translate(-50% ,-50%);
 font-size: 16px;
 color: white;
}


.depar-footer-block a{
 color: white;
 text-decoration: none;
 transition: .4s;
}
.depar-footer-block a:hover{
 color: #E22555;
 text-decoration: none;
 transition: .4s;
}

.footer-input{
 padding: 10px;
 outline: none;
 border: none;
 background: none;
 border: 1px solid white;
 color: white;
 font-size: 14px;
}
.footer-input::placeholder{
 color: white;
 font-size: 15px;
}

.footer-btn{
 outline: none;
 border: none;
 border: 1px solid white;
 height: 40px;
}
.subscribe form {
 position: relative;
 z-index: 1;
}

.subscribe form input {
 background: transparent;
 border: 1px solid white;
 padding: 4px 1rem;
 width: 100%;
 height: 2.5rem;
 color: white;
 font-size: 14px;
 outline: none;
}
.subscribe form input::placeholder{
 color: white;
 font-size: 14px;
}
.subscribe form button {
 position: absolute;
 right: 0;
 top: 0;
 background: white;
 height: 2.5rem;
 width: 3rem;
 border: 1px solid white;
}

/* Blog Card styles */

.blog-cards .col-lg-4{
 display: flex;
 justify-content: center;
}

.blog-cards .card{
  width: 350px;
}

.blog-cards .card .card-text span i{
  color: #076cec;
}

.blog-card-title{
 font-weight: 650; 
 font-size: 18px;
}

.blog-card-title a{
  text-decoration: none;
  color: #000;
}

.blog-cards .card-text .icons{
  width: 90%;
}

.blog-card-text{
 margin-top: 18px;
 font-size: 15px;
}

.card-img-wrap img{
 overflow: hidden;
 transition: .7s;
}
.card-img-wrap{
 position: relative;
 transition: .7s;
 overflow: hidden;
}

.card-img-wrap:hover img{
 transform: scale(1.3);
 transition: .7s;
}

/* Contact form styles */

.contact-inputs label{
 font-size: 15px;
 color: rgb(87, 87, 87);
}

.contact-inputs .form-control{
    width: 100%;
    height: 3rem;
    padding: .375rem .75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0rem;
}

/* The first cards in page styles */

.work-time .card{
 position: relative;
}
.work-time .card::before{
 content: "";
 display: block;
 height: 5px;
 width: 60%;
 background: #076cec;
}

.work-time .card::after{
 position: absolute;
 z-index: 999;
 content: '';
 width: 1.5rem;
 height: 1.5rem;
 bottom: 0;
 left: 0;
 background-color: #076cec;
 clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.work-time .card{
 width: 370px;
}

.sm-cards .card:hover{
 background: white;
}
.sm-cards .card:hover .card-text{
 color: black;
}

/* Blog */
.single-blog-who{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.single-blog-who span{
  display: block;
}

.news-title h2{
  font-size: 30px;
  font-weight: 600;
}

.news-text{
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 24px;
}

.single-blog-img img{
  max-width: 100%;
  height: auto;
}

.list ul li .fa-arrow-circle-right{
  color: #E22555;
}

.widget .card{
  width: 350px;
  box-shadow: 0 0 26px 2px rgba(0, 0, 0, 0.1);
}

#search-input{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  font-size: 15px;
  padding: 28px 1rem;
  box-shadow: none;
  background: #f8f9ff;

}

.btn-search{
  background: #E22555;;
  color: white;
  outline: none;
  border: none;
  padding: 0 28px;
  border-radius: 8px;
}

.card-title{
  display: block;
  margin-bottom: 20px;
}

.card-title::after{
  margin-top: 14px;
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  background: #E22555;
}

.post{
  margin: 20px 0;
}

.post-text{
  line-height: 16px;
}

.post-text span{
  display: block;
}

.post-text .post-title{
  font-size: 14px;
  font-weight: 550;
}

.post-text .post-date{
  font-size: 13px;
}

/* Loader */
.loader{
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #076cec;
}

.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px"  enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 1.5s pulse linear infinite;
  -moz-animation: 1.5s pulse linear infinite;
  -o-animation: 1.5s pulse linear infinite;
  animation: 1.5 pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
}
.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;

}

/* Loader animation */

@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
}
@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity:1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
  
}



/* Media queries */
@media screen and (max-width:1200px){

 .topbar-icon-text span{
  font-size: 13px;
  font-weight: 450;
 }
 
 .topbar-icon-text h6{
  font-size: 16px;
  padding-top: 4px;
 }
}


 @media screen and (max-width:992px){
   .widget .card{
     width: 100%;
   }

  .work-time .last-card {
   margin-top: 10px;
  }

  .last-blog-card{
   margin-top: 10px;
  }

  .third-sm{
   margin-top: 20px;
}

 .menu-2{
  display: block;
 }

 .header{
  display: none;
 }

}


@media screen and (max-width:768px){
  .under-title h1{
    font-size: 30px;
  }

  .single-blog-title h2{
    font-size: 26px;
  }

  .news-title h2{
    font-size: 25px;
  }

 .work-time .card{
  width: 100%;
 }
 .work-time .second-card , .last-card{
  margin-top: 10px;
 }

 .second-blog-card{
  margin-top: 10px;
 }

 .blog-cards .card{
  width: 100%;
 }

 .sm-cards .card{
  width: 100%;
}

.second-sm{
 margin-top: 20px;
}

.menu-nav-2 .nav-item .nav-link{
 font-size: 16px;
}

.menu-nav-2{
 width: 60%;
}

 .active-2{
  left: 55%;
 }
}

@media screen and (max-width:576px){
  .single-blog-title h2{
    font-size: 22px;
  }

  .news-title h2{
    font-size: 20px;
  }

  .news-text{
    font-size: 14px;
  }

  .single-blog-who{
    display: block;
  }

 .menu-nav-2 .nav-item .nav-link{
  font-size: 15px;
 }

 .contact-inputs label{
  font-size: 13.5px;
 }

 .contact-inputs .form-control{
  width: 100%;
  height: 2.4rem;
  padding: .375rem .75rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0rem;
}


 .under-title h1{
  font-size: 26px;
 }

 .title span{
  font-size: 14px;
 }

 .page-offer-title h1{
  font-size: 26px;
 }
 .menu-nav-2{
  width: 60%;
 }
 .active-2{
  left: 40%;
 }

}

@media screen and (max-width:390px){
  .single-blog-title h2{
    font-size: 20px;
  }

  .news-title h2{
    font-size: 20px;
  }

  .news-text{
    font-size: 13px;
  }

  .single-blog-who{
    display: block;
  }
  
  .post-text .post-title{
    font-size: 12px;
  }

  .post-text .post-date{
    font-size: 11px;
  }

  .list span{
    font-size: 14px;
  }

 .menu-nav-2 .nav-item .nav-link{
  font-size: 14px;
 }

 .blog-cards .card .text-span{
  display: none;
 }

 .sm-cards .card .card-icon{
  width: 50px;
  height: 40px;     
}

.sm-cards .card i{
  color: rgb(238, 65, 53);
  font-size: 20px;
}

.sm-cards .card-text .span-title{
  font-size: 14px;
}

.sm-cards .card-text p{
  font-size: 13px;
}

 .menu-nav-2{
  width: 80%;
 }
 .active-2{
  left: 22%;
 }
 .menu-nav-2 li a{
  font-size: 15px;
 }
 .menu-nav-2 li a:hover{
  font-size: 15px;
 }

 .under-title h1{
  font-size: 22px;
 }

 .title span{
  font-size: 13px;
 }

 .contact-inputs label{
  font-size: 13px;
 }

}
